{% extends 'base.html.twig' %}

{% block title %}Accueil Cinéphoria{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="">Bienvenue sur le site de Cinéphoria</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="">Les films ajoutés récemment</h2>
            {% if movies is empty %}
            <p>Aucun film n'a été ajouté récemment.</p>
            {% else %}
            <div data-controller="lastMovies">
                <div class="row">
                    <div class="col" id="moviesDeck">
                        {% for movie in movies %}
                        <div class="card" style="width: 18rem;">
                            <img src="{{ path('app_movies_poster', {imdbId: movie.imdbId}) }}" class="card-img-top" alt="{{ movie.title }}">
                            <div class="card-body">
                            <h5 class="card-title">{{ movie.title|e }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
