<h1>Bonjour {{ firstname }}</h1>

<p>
    Nous sommes heureux de vous compter parmi nos clients.
</p>

<p>
    Vous pouvez dès à présent vous connecter à votre espace client ou réserver un ticket pour une de nos prochaines séances.
    <a href="{{ path('app_home_page') }}">Rendez-vous sur notre site</a>.
</p>
