{% extends 'base.html.twig' %}

{% block title %}Mon espace Cinéphoria{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="">Mon espace personnel</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="">En cours de construction</h2>
            <p>Cet espace est en cours de construction, merci de votre patience.</p>
        </div>
    </div>
</div>
{% endblock %}
