<h1>Bonjour {{ name|e }}</h1>

<p>Nous avons bien reçu votre demande et elle sera traitée dans les plus brefs délais.</p>

<h3>Voici un récapitulatif de votre demande :</h3>

<h4>{{ title|e }}</h4>

<p>{{ description|e }}</p>

<p>L'équipe de <a href="{{ path('app_home_page') }}">Cinéphoria</a>.</p>
