<footer class="footer bg-body-tertiary mt-auto py-3 text-center text-lg-start">
    <div class="container">
        <div class="row">
            <div class="col-4">
                &nbsp;<i class="bi bi-envelope"></i>&nbsp;3 rue de la Paix, 75000 Paris
            </div>
            <div class="col-4">
                <i class="bi bi-telephone"></i>&nbsp;+33 (0)6 12 34 56 78
            </div>
            <div class="col-4">
                <i class="bi bi-clock"></i>&nbsp;Horaires Lundi - Vendredi de 9h à 20h
            </div>
        </div>
    </div>
</footer>